<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Blagues</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Quelle type de blague ?</h1>
        <input type="text" id="passwordInput" placeholder="Entrez le mot de passe" />
        <button id="submitBtn">Valider</button>
        <p id="response"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
