<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Banane</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Cliques pour recevoir une banane:</h1>
        <button id="Bananeclique">Confirmer</button>
        <p id="timer"></p>
    </div>
    <div>
        <
        <input type='button' id='shop'/>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
